# Core
Flask==3.1.3
requests==2.32.4
websocket-client==1.6.3
redis==5.2.0
pillow==12.1.1

# OCR
pytesseract==0.3.11

# PyTorch (GPU recommended)
torch==2.8.0
torchvision==0.18.1
torchaudio==2.3.0

# Optional: YOLOv8 support (Ultralytics)
ultralytics==8.0.152

# Prometheus metrics
prometheus-client==0.21.0

# Utility
python-dotenv==1.0.0

# Async / concurrency
gevent==23.10.2
